* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  height: 100vh;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas:
    "nav"
    "aside"
    "main"
    "footer";
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: #ffff;
  grid-area: nav;
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 9rem;
}
nav svg {
  margin-right: 0.3rem;
}
aside {
  background-color: #e1e2e1;
  grid-area: aside;
}
aside p {
  margin-bottom: -0.05rem;
}
main {
  grid-area: main;
  justify-content: center;
}
menu {
  display: none;
}
menu ul li {
  cursor: pointer;
  font-weight: 500;
}
menu ul li:hover {
  transform: scale(1.05);
}
footer {
  background-color: #004a9f;
  grid-area: footer;
}
footer svg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cards-wrapper {
  overflow-y: scroll;
  height: 65vh;
  display: flex;
  flex-direction: column;
}
.card {
  margin-bottom: 2rem;
  -webkit-box-shadow: 2px 7px 13px -6px rgba(102, 102, 102, 1);
  -moz-box-shadow: 2px 7px 13px -6px rgba(102, 102, 102, 1);
  box-shadow: 2px 7px 13px -6px rgba(102, 102, 102, 1);
}

/* Media querys */
@media (min-width: 576px) {
  body {
    display: grid;
    min-height: 100vh;
    height: auto;
    grid-template-rows: 0.5fr 6fr 0.3fr 1fr;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
      "nav aside"
      "nav main"
      "footer main"
      "footer main";
  }
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #1976d2;
    color: #ffff;
    grid-area: nav;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    grid-area: menu;
    margin-top: 1rem;
  }
  menu li {
    list-style: none;
  }
  .card {
    margin-bottom: 1rem;
  }
  .footer-escritorio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cards-wrapper {
    height: 85vh;
    margin-left: 1rem;
  }
  .hamburguesa-icon {
    display: none;
  }
  .first-row,
  .second-row {
    display: flex;
  }

  .first-row__tablet,
  .third-row__tablet {
    margin-right: 1.5rem;
  }
  .first-row__tablet,
  .second-row__tablet,
  .third-row__tablet,
  .fourth-row__tablet {
    display: flex;
    flex-direction: column;
  }
  footer p {
    padding: 0.2rem;
  }
}

@media (min-width: 992px) {
  .first-row,
  .second-row {
    display: flex;
    margin-right: 0;
  }

  .first-row__tablet,
  .second-row__tablet,
  .third-row__tablet,
  .fourth-row__tablet {
    flex-direction: row;
    margin-right: 0;
  }
}
